@charset "UTF-8";

.promotions {
	margin-bottom: 50px;
}

.promotions_title {
	font-family: sans-serif;
	font-size: 40px;
	color: var(--color3);
}

.clider_btn_icon {
	background-color: var(--color3);
	width: 40px;
	height: 40px;
}

.btns_bottom {
	margin-bottom: -2rem;
}

.carousel-indicators [data-bs-target] {
	background-color: var(--color4);
}

.carousel-indicators [data-bs-target]:hover {
	margin-left: 0;
	margin-right: 0;
	width: 36px;
}

.carousel_promotions {
	height: 300px;
}

.carousel-item_img {
	height: 300px;
	margin: 0 auto;
}

.carousel-control-next-icon {
	background-image:
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
	background-image:
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}